/* Height hack for float wrappers */
.t-services {
	overflow: auto;
	margin-top: 10px;
}

.t-auth-icon {
	display: block;
	width: 24px;
	height: 24px;
	background: url("../images/auth.png") no-repeat;
}

.t-auth-icon.email{
	background-position: 0 0;
}

.t-auth-icon.google,
.t-auth-icon.google_oauth {
	background-position: 0 -50px;
}

.t-auth-icon.twitter {
	background-position: 0 -75px;
}

.t-auth-icon.yandex,
.auth-icon.yandex_oauth {
	background-position: 0 -102px;
}

.t-auth-icon.vkontakte {
	background-position: 0 -100px;
}

.t-auth-icon.facebook {
	background-position: 0 -25px;
}

.t-auth-link:hover .auth-icon i,
.t-auth-link:focus .auth-icon i {
	display: block;
	width: 24px;
	height: 24px;
	background: url("../images/auth.png") 0 0 no-repeat;
}

.t-auth-services {
	margin: 0 0 1em;
	list-style: none;
	/* Height hack for float wrappers */
	overflow: auto;
}

.auth-service {
	float: left;
	margin: 0 5px 0 5px;
}

.t-auth-services .auth-service .auth-link {
	display: block;
	width: 50px;
}

.t-auth-service .auth-link .auth-icon {
	margin: 0 auto;
}

.t-auth-service .auth-link .auth-title {
	display: block;
	margin-top: 0.4em;
	text-align: center;
}