.http-error {
	margin-top: 100px;
	text-align: center;
	color: #444;
	font-size: 18px;
	line-height: 20px;
}

.http-error .error-caption {
	background: #2773ae;
	color: #fff;
	display: inline-block;
	-webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
	border: 3px solid #fff;
	height: 200px;
	width: 200px;
	padding: 0;
}

.http-error .error-caption p {
	color: #fff;
	text-shadow: 1px 1px 1px #fff;
	font-size: 90px;
	margin-top: 80px;
}

.http-error .error-message {
	height: 200px;
	width: 520px;
	background: #fff;
	display: inline-block;
	border: 3px solid #2773ae;
	-webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 0 14px rgba(0, 0, 0, 0.7);
	box-shadow: 0 0 14px rgba(0, 0, 0, 0.7);
}

.http-error .error-message p {
	margin-top: 40px;
}

.http-error .error-message .return-home {
	margin: 0;
	font-size: 14px;
}

.error-bottom {
	margin-bottom: 100px;
}

p {
	font-family: 'Open Sans', Arial, sans-serif;
	color: #000000;
	margin: 0;
	line-height: 18px;
	padding: 0 0 20px;
}
