#content {
	min-height: 500px;
}

.tt-dropdown-menu {
	font-size: 12px;
}

/** Other styles **/
ul li.auth-service {
	list-style-type: none;
}

.clearfix.padding-top {
	padding-top: 10px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}
.margin-top-10 {
	margin-top: 10px;
}

/** Errors **/
.error, span.required {
	color: #b94a48;
}

input.error {
	border-color: #b94a48;
}

/** Профиль пользователя **/
.profile-tabs,
.profile-tabs-content {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.profile-tabs-content small {
	font-size: 11px;
	color: #888;
}

.profile-tabs-content .not-profile-social {
	font-weight: bold;
	color: #fbb450;
	padding-left: 40px;
}

.profile-tabs {
	margin-bottom: 0;
}

.profile-tabs-content .tab-pane {
	padding: 0 20px;
}

.profile-tabs-content .tab-pane .profile-social-networks li {
	float: left;
	list-style: none outside none;
}

.profile-tabs-content .tab-pane .profile-social-networks.excluded li {
	margin-right: 20px;
}

.profile-tabs-content .tab-pane .profile-social-networks.excluded li a {
	display: block;
	height: 32px;
	width: 32px;
}

#profile-settings-form.form-horizontal .control-label {
	float: left;
	width: 220px;
	padding-top: 5px;
	text-align: right;
}

#profile-settings-form.form-horizontal .controls {
	margin-left: 240px;
}

/** Social **/
.social-icon-32 {
	display: block;
	width: 32px;
	height: 32px;
	background: url("../img/social/social-32.png") no-repeat;
}

.social-icon-manage {
	height: 32px;
	margin-left: 10px;
	margin-right: 30px;
}

.social-icon-manage p {
	margin: 0;
	padding: 0;
	height: 16px
}

.social-icon-32.google,
.social-icon-32.google_oauth {
	background-position: 0 -34px;
}

.social-icon-32.twitter {
	background-position: 0 -68px;
}

.social-icon-32.yandex,
.social-icon-32.yandex_oauth {
	background-position: 0 -102px;
}

.social-icon-32.vkontakte {
	background-position: 0 -136px;
}

.social-icon-32.facebook {
	background-position: 0 -170px;
}

.social-icon-32.mailru {
	background-position: 0 -204px;
}

.social-icon-32.moikrug {
	background-position: 0 -238px;
}

.social-icon-32.odnoklassniki {
	background-position: 0 -272px;
}

.social-icon-32.linkedin {
	background-position: 0 -306px;
}

.social-icon-32.github {
	background-position: 0 -340px;
}

.social-icon-32.live {
	background-position: 0 -372px;
}

/** Global loader **/
.place-text {
	position: fixed;
	white-space: nowrap;
	z-index: 10001;
	top: 0;
	left: 50%;
	height: 30px;
	width: 100px;
	margin-left: -50px;
	display: none;
	background-color: #2773ae;
	font-weight: bold;
	padding: 3px;
	border-radius: 5px;
	color: #fff;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}

.place-text .place-img-content {
	margin: 6px 5px 0 5px;
	background-image: url('../img/4-0.gif');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	padding-left: 20px;

}

.place-text.top {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
}

/** Footer menu **/
#footer-menu li a {
	margin-left: 20px;
}

/** User card (photo) **/
#img-container {
	min-width: 400px;
	min-height: 250px;
	display: inline-block;
}

.img-container-info {
	margin: 0 auto;
	top: 70px;
	height: 50px;
	padding-top: 20px;
	text-align: center;
	position: relative;
	font-size: 36px;
	background-color: #ccc;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
	text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
}

.highlighted {
	/*border: 4px solid gold !important;*/
}

#img-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#img-list li {
	margin: 10px;
	width: 152px;
	text-align: center;
	display: inline-block;
	vertical-align: bottom;
}

#img-list li div {
	width: 152px;
	overflow: hidden;
	font-size: 10px;
	color: #bbb;
}

#img-list div.progress {
	width: 150px;
	border: 1px solid #888888;
	height: 18px;
	text-align: center;
	background-image: url('../img/pbar_bgr.png');
	background-repeat: no-repeat;
	background-position: -150px center;
}

.project span.photo-control {
	display: none;
	position: absolute;
	top: -37px;
	right: 17px;
	width: 19px;
	height: 19px;
	background: #000;
	opacity: 0.70;
	-moz-opacity: 0.70;
	text-align: center;
	color: #fff;
	font: 11px/16px Tahoma, Geneva, sans-serif;
}

.project span.photo {
	cursor: pointer;
	position: relative;
}

.project span.photo:hover span {
	display: inline;
}

/** Buses form **/
#buses-form .control-label {
	width: 220px;
}

#buses-form .controls {
	margin-left: 240px;
}

.my-buses-list {
	margin: 0 20px;
}

.my-buses-list .my-buses-content {
	width: 100%;
}

.my-buses-list .my-buses-content .my-buses-label {
	font-weight: bold;
}

.my-buses-list .my-buses-content .my-buses-inline {
	width: 100%;
	padding-left: 10px;
}

.buses-list .buses-list-item {
	margin-bottom: 10px;
	cursor: pointer;

}

/** Headers imitate **/
h1.small, h1.medium,
h2.small, h2.medium,
h3.small, h3.medium {
	line-height: 35px;
	color: #666666;
}
h1.small {
	font-size: 16px;
}
h1.medium {
	font-size: 24px;
}
h2.small {
	font-size: 14px;
}
h2.medium {
	font-size: 18px;
}

.special-description p {
	font-family: 'Open Sans', Arial, sans-serif;
	color: #000000;
	margin: 0;
	line-height: 18px;
	padding: 0 0 20px;
}

/** Text dividers **/
.text-divider1 {
	border-top: 1px solid #cccccc;
	margin-bottom: 19px;
}

.text-divider2 {
	display: block;
	margin-bottom: 19px;
	width: 100%;
	border-bottom: 1px solid #cccccc;
	text-align: right;
	color: #000000;
	margin-top: -19px;
}

.text-divider2:hover, .text-divider4:hover {
	text-decoration: none;
	color: #000000;
}

.text-divider3 {
	border-top: 1px dashed #cccccc;
	margin-bottom: 19px;
}

.text-divider4 {
	display: block;
	margin-bottom: 19px;
	width: 100%;
	border-bottom: 1px dashed #cccccc;
	text-align: right;
	color: #000000;
	margin-top: -19px;
}

.text-divider5, .text-divider6 {
	border-bottom: 1px solid #cccccc;
	width: 100%;
	margin-bottom: 19px;
	margin-top: -3px;
}

.text-divider5 span {
	display: block;
	width: 70px;
	height: 3px;
}

.text-divider6 span {
	display: block;
	width: 70px;
	height: 3px;
	float: right;
}

.text-divider5 span,
.text-divider6 span {
	background-color: #2773ae;
}

.member-divider {
	border-bottom: 1px dashed #cccccc;
	clear: both;
	height: 1px;
	margin-bottom: 50px;
}

/** To rent **/
.to-rent .span2 {
	width: 130px;
}

.to-rent .meta,
.rent .meta {
	margin-top: 20px;
	text-transform: none;
}

.to-rent .meta span,
.rent .meta span {
	margin-right: 10px;
}

.to-rent .meta a,
.rent .meta a,
.rent .meta a:visited {
	color: #4f99bc;
}

.to-rent .created,
.rent .created,
.rent .status {
	font-weight: bold;
	color: #666666;
}

.to-rent .created i,
.to-rent .item i,
.rent .created i,
.rent .item i {
	margin-right: 5px;
}

.to-rent .item .name,
.rent .item .name {
	margin-right: 5px;
}

.to-rent .item .value,
.rent .item .value {
	font-weight: bold;
}

.to-rent .item .heading,
.rent .item .heading {
	display: block;
	font-weight: 600;
	font-size: 13px;
	line-height: 25px;
	margin-top: 10px;
}

/** RENT **/
.rent .meta .status .status-0,
.rent .status .status-0 {
	color: green;
}
.rent .meta .status .status-1,
.rent .meta .status .status-2,
.rent .status .status-1,
.rent .status .status-2 {
	color: red;
}


/** Search form **/
.search-form .input-label {
	font-size: 18px;
	margin-right: 10px;
	line-height: 20px;
	vertical-align: middle;
	display: inline-block;
	min-width: 85px;
}

.search-form div.input-imitator {
	display: inline-block;
	border: 1px solid #2f96b4;
	background-color: #fff;
	height: 33px;
	width: 390px;
	padding: 10px 10px 0 10px;
	border-radius: 8px;
	cursor: pointer;
	font-size: 18px;
	color: #4d4d4d;
	line-height: 20px;
	vertical-align: middle;
}

.search-form div.input-imitator .placeholder {
	color: #8d8d8d;
}

.search-form .btn {
	width: 80px;
}

/** Specialty list **/
.category-block, .region-block, .parent-block {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.3em;
	list-style: none;
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
}

.category-block {
	display: none;
}

#search-category-dialog li.item,
#search-region-dialog li.item {
	list-style: none;
	white-space: nowrap;
	margin-bottom: 2px;
	margin-right: 3px;
	color: #2f96b4;
	cursor: pointer;
}

#search-category-dialog li.item.selected {
	background-image: url('../img/icon/checked.png');
	background-repeat: no-repeat;
}

#search-category-dialog .category-block li.parent {
	font-weight: bold;
}

#search-torent-form i.icon-remove {
	font-size: 22px;
	position: absolute;
	margin-left: 480px;
	margin-top: -35px;
	cursor: pointer;
	display: none;
}

/** Order block **/
.order-block {
	line-height: 18px;
	padding: 0 0 10px;
	margin-top: 20px;
}

.order-block .founded {
	font-size: 13px;
	font-family: 'Open Sans', Arial, sans-serif;
	color: #000;
	font-weight: bold;
}

.order-block i {
	font-size: 13px;
	color: #000;
	margin: 0 3px;
}

.order-block .label a {
	color: #fff;
}

/** Help block **/
.bs-docs-help {
	position: relative;
	margin: 15px 0;
	padding: 39px 19px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.bs-docs-help:after {
	content: "Help";
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	color: #9da0a4;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}

.bs-help {
	margin: 3px 0;
	font-size: 11px;
}

.bs-help .label {
	font-size: 11px;
}

/** BID **/
.blog .meta.big {
	font-size: 12px;
}

.blog .meta.big a, .blog .meta.big a:visited {
	color: #4f99bc;
}

.blog .meta.big .bid-add-link,
.bid-select-performer i {
	font-size: 15px;
}

.blog .meta.big .bid-add-link i,
.bid-select-performer i,
.performer {
	color: green;
	text-transform: uppercase;
}

.blog .meta.big .bid-close-link i {
	font-size: 15px;
	color: #c43c35;
}

/** Auth **/

/** News || Articles **/
.blog .meta {
	text-transform: none;
}

.news .entry h2 a,
.news .entry h2 a:visited,
.news .entry h2 a:hover,
.article .entry h2 a,
.article .entry h2 a:visited,
.article .entry h2 a:hover {
	color: #5eb2d9;
}

.news .content,
.article .content {
	margin-left: 20px;
}

.news .content p,
.article .content p {
	margin-bottom: 20px;
}

/*** FAQ **/
.faq ol li {
	line-height: 20px;
}


/** Hero block **/
.grey-box {
	background-color: #fbfbfb;
	border-bottom: 1px solid #dfdfdf;
	border-left: 1px solid #ececec;
	border-right: 1px solid #ececec;
	border-top: 1px solid #f5f5f5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 1px 3px #CCCCCC;
}

.hero-block-2 {
	padding: 15px 20px;
	text-align: center;
}

.hero-block-2 p img {
	float: right;
	margin: 0 0 0 25px;
}

.hero-block-2 .btn {
	margin: 17px auto 5px;
	font-weight: bold;
	font-size: 16px;
}

.hero-block3 .btn {
	font-size: 16px;
}

.hero-block-2 .btn .icon-shopping-cart {
	font-size: 19px;
}

.hero-block-2 h2, .hero-block-2 p {
	text-align: left;
}

.hero-block-2 .btn .icon-shopping-cart {
	line-height: 26px;
	padding-right: 7px;
}

.hero-block3 {
	position: relative;
}

.hero-block3 .hero-content-3 {
	padding: 20px;
}

.hero-block3 .hero-content-3 h2 {
	font-size: 32px;
	line-height: 32px;
	margin-bottom: 10px;
	color: #333333;
}

.hero-block3 h2 {
	float: none;
	margin-bottom: 5px;
}

.hero-block3 p {
	float: none;
	line-height: 22px;
	padding: 0;
	color: #898989;
}

/** Category block **/
#main-category-tabs {
}
#main-category-tabs li > a {

}

.main-category-block {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 12px;
	line-height: 1.3em;
	list-style: none;
	-moz-column-count: 4;
	-moz-column-gap: 20px;
	-webkit-column-count: 4;
	-webkit-column-gap: 20px;
	column-count: 4;
	column-gap: 20px;
}

/*.main-category-block .dl-horizontal dd {*/
	/*margin-left: 30px;*/
/*}*/

/*.main-category-block .dl-horizontal dt {*/
	/*width: auto;*/
	/*display: block;*/
/*}*/

.main-category-block.side-nav .active a {
	font-weight: bold;
}